# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.POS.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Programming\ASP.NET Core\POS\.idea\.idea.POS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
